solidfire_username = "administrator"

solidfire_password = "password"

solidfire_cluster = "127.0.0.1"

solidfire_api_version = "10.1"

total_size = [
    "100000000000",
    "200000000000",
    "300000000000",
    "400000000000",
    "500000000000",
]

vsphere_datacenter = "NetApp-HCI-Datacenter"

vsphere_username = "administrator@vsphere.local"

vsphere_password = "password"

vsphere_server = "server.vmware.com"

vsphere_hosts = [
    "192.168.1.2",
    "192.168.1.3"
]